{% extends "layout.html" %}

{% block content %}
		{% if condition %}
	    <div class="content-section">
			<h1>Sentiment Analysis Results</h1>
	        
			<img src="{{url_for('static', filename = file)}}" alt="pie chart">
	        <h4>{{ analysis["report_title"] }} </h4>  
	        <p>{{ analysis["general"] }} <br><br></p>
	        <h4>{{ analysis["de_report"] }}</h4>
			<table class="table">
				{% for item in analysis["report_stat"] %}
					<tr>
						<td>{{item}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		{% else %}
	        {{ super() }}
	        <br>
	        <h4>&nbsp;&nbsp;Oops, you seem to forget to search something.</h4>
	        <h4>&nbsp;&nbsp;<a href="{{ url_for('index') }}">Create a new search to see analysis.</a></h4>
	        <br><br>

	{% endif %}

	
{% endblock content %}

      