{% extends "layout.html" %}
	
{% block content %}
	<div class="content-section">
		<h1>Sentiment Analysis Results</h1>

		<img src="{{url_for('static', filename = keyword)}}" alt="pie chart">
        <h4>{{ analysis["report_title"] }} </h4>  
        <p>{{ analysis["general"] }} <br><br></p>
        <h4>{{ analysis["de_report"] }}</h4>
		<table class="table">
			{% for item in analysis["report_stat"] %}
				<tr>
					<td>{{item}}</td>
				</tr>
			{% endfor %}
		</table>
        <p>&nbsp;&nbsp;<a href="{{ url_for('index') }}">Create New Search</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ url_for('sentiment') }}">See Sentiment Analysis</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ url_for('tweets') }}">See Tweets Analyzed</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ url_for('about') }}">About QTracker</a></p>
	</div>
{% endblock content %}

      