{% extends "layout.html" %}
	
{% block content %}
    {% if condition %}
        <div class="content-section">
		<h1>Tweets analyzed</h1>

		<table class="table">
			{% for item in tweets %}
				<tr>
					<td>{{item}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
    {% else %}
        {{ super() }}
        <br>
        <h4>&nbsp;&nbsp;Oops, you seem to forget to search something.</h4>
        <h4>&nbsp;&nbsp;<a href="{{ url_for('index') }}">Create a new search to see tweets.</a></h4>
        <br><br>       
    {% endif %}

{% endblock content %}